<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular-Ui-Pager</title>
</head>
<body ng-app="app" >
<center>
    <div ng-controller="PaginationDemoCtrl">
        <div class="row">
            <div class="col-6">
                <h4>基本款分页</h4>
                <ul ui-Pagination total-items="bigTotalItems" boundary-links="true"  ng-model="bigCurrentPage" ng-change="pageChanged()" num-pages="numPages"></ul>
            </div>
            <div class="col-6">
                <h4>高级版</h4>
                <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" ></ul> <br>-->
                <!--<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul> <br>-->
                <!--<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul> <br>-->
                <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
            </div>
        </div>
    </div>
</center>
</body>
</html>
<script src="http://localhost:8082/bundle.js"></script>